packaging_format = 2

id = "bludit"
name = "Bludit"
description.en = "Simple, Fast, Secure, Flat-File CMS"
description.fr = "CMS simple, rapide, sécurisé et à fichier plat"

version = "3.17.2~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "www.bludit.com"
demo = "https://demo.bludit.com"
admindoc = "https://docs.bludit.com/en/"
code = "https://github.com/bludit/bludit"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/bludit"

    [install.init_main_permission]
    help.en = "If enabled, Bludit will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Bludit sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/bludit/bludit/archive/refs/tags/3.17.2.tar.gz"
        sha256 = "0b76bf3d336600f45c7bea86ab0ae80ee233368815cda549e1520e2e665d43b7"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.show_tile = false
    api.protected = true

    [resources.apt]
    packages = "php8.4-gd, php8.4-mbstring, php8.4-dom"
